<nav class="navbar navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="../">Trace Dressen</a>
    <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="align-items-center navbar-nav ml-auto">
        <a class="nav-item nav-link" href="../about">About</a>
        <a class="nav-item nav-link" href="../portfolio">Portfolio</a>
        <a class="nav-item nav-link" href="{{ site.blog_url }}">Blog</a>
        <a class="nav-item nav-link" href="{{ site.resume_path }}">Resume</a>
        <a class="nav-item nav-link" href="{{ site.linkedin_url }}">
          <span class="iconify" data-icon="simple-icons:linkedin" data-inline="false" style="margin-top:3px" data-width="22"></span>
        </a>
        <a class="nav-item nav-link" href="mailto:{{ site.email }}">
          <span class="iconify" data-icon="ic:baseline-email" data-inline="false"  style="margin-top:3px" data-width="30"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
